body, html {
    height: 100%;
}
body {
    overflow-x: hidden;
    background-color: #f9f9f9;
}
p {
    font-size: 20px;
}
/* ----- Dark Mode ----- */
.dark-mode {
    background-color: #313131;
}
.dark-mode-button {
    background-color: #3f3f3f;
    color: #f9f9f9;
}
.light-mode-button {
    background-color: #f9f9f9;
    color: #5e5e5e;
}
.buttonDm {
    opacity: 0;
    display: flex;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 100px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
/* ----- End Dark Mode ----- */

/* ----- Back To Top ----- */
.return-to-top-button {
    opacity: 0;
    display: flex;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: 0.2s;
}
@media(max-width: 400px) {
    .buttonDm, .return-to-top-button {
        width: 40px;
        height: 40px;
    }
}
.show {
    opacity: 1;
    transition: 0.5s;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: #f9f9f9;
}
/* ----- End Back To Top ----- */

/* ----- Navbar ----- */
#navBar {
    align-items: baseline;
    justify-content: space-between;
}
.navbar-brand {
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Oxygen", sans-serif;
}
.nav-link {
    color: whitesmoke;
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
}
.nav-link:hover {
    color: #aaaaaa;
}
.dropdown-menu {
    padding: 0;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
/* ----- Nav Color Preferences ----- */
.color {
    transition: 0.5s;
}
.preferences-color-button {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
.preferences-color-button:hover {
    background-color:rgba(0, 0, 0, 0.6);
}
.green {
    color: #a2c80a;
}
.orange {
    color: #ffc600;
}
.red {
    color: #ff4000;
}
.light-blue {
    color: #00beff;
}
.dark-blue {
    color: #007eff;
}
.gray {
    color: #aaaaaa;
}
.pink {
    color: #ff8989;
}
/* ----- Nav End Color Preferences ----- */

/* ----- Navbar scroll opacity classes ----- */
.navDark {
    background-color: rgba(0, 0, 0, 0.7);
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.navLight {
    background-color: rgba(0, 0, 0, 0.5);
    transition: ease-in-out;
    transition-duration: 0.5s;
}
/* ----- Navbar mobile dropdown access ----- */
.navbar-toggler {
    background-color: rgba(255, 255, 255, .5);
    border-style: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/* ----- End Navbar scroll opacity classes ----- */

/* ----- Hero Section -----*/
.hero-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 0;
}
.carousel-container {
    display: flex;
    justify-content: center;
}
.carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.5s;
}
.hero-content-container {
    margin: 0;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
    padding: 0px;
}
.carousel-header {
    font-family: "Oxygen", sans-serif;
    font-size: 70px;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 0px;
}
.carousel-content {
    font-family: "Oxygen", sans-serif;
    font-size: 25px;
    margin-top: 0px;
}
@media (max-width: 500px) {
    .carousel-header {
        font-size: 35px;
    }
    .carousel-content {
        font-size: 20px;
    }
}
@media (max-width: 800px) {
    .carousel-header {
        font-size: 45px;
    }
    .carousel-content {
        font-size: 35px;
    }
}
/* ----- End Hero Section -----*/

/* ----- Intro Section -----*/
#intro-container-row {
    align-items: center;
}
.intro-container-image {
    width: auto;
    justify-content: center;
}
.intro-image {
    margin-top: 15px;
    border-radius: 10px;
    width: 40vw;
}
.col-right-intro {
    margin-top: 15px;
    border-radius: 10px;
}
.intro-header-main, .intro-header-content {
    font-family: "Oxygen", sans-serif;
}
.intro-header-main {
    margin-top: 0;
    font-weight: 200;
}
.intro-header-content {
    font-weight: 100;
}
.intro-content {
    font-family: "Oxygen", sans-serif;
    font-weight: 100;
}
@media (max-width: 1200px) {
    .intro-container-image {
        justify-content: center;
    }
    @media (max-width: 1200px) {
        .intro-image {
            width: 75vw;
        }
    #intro-container-row {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
}
/* ----- End Intro Section ----- */

/* ----- Soft Skills Section ----- */
.soft-skills-header-main, .soft-skills-header-content, .hard-skills-header-main, .hard-skills-header-gauge {
    font-family: "Oxygen", sans-serif;
    text-align: center;
}
.soft-skills-header-content {
    font-weight: 200;
    justify-content: center;
}
.soft-skills-content {
    font-family: "Oxygen", sans-serif;
    text-align: center;
}
/* ----- End Soft Skills Section ----- */

/* ----- Hard Skills Section ----- */
.hard-skills-header-gauge {
    margin-top: 10px;
    font-weight: 200;
    
}
.hard-skills-content {
    font-family: "Oxygen", sans-serif;
    font-weight: 100;
}
/* ----- End Hard Skills Section ----- */

/* ----- Education Section ----- */
.education-header-main {
    font-family: "Oxygen", sans-serif;
}
.education-content-main {
    font-family: "Oxygen", sans-serif;
}
.education-header-content {
    
    font-family: "Oxygen", sans-serif;
}
/* ----- End Education Section ----- */

/* ----- Projects Section ----- */
.projects-dropdown-button {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
.projects-dropdown-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.project-header-main, .project-header-iframe, .project-content {
    font-family: "Oxygen", sans-serif;
}
.project-content {
    font-weight: 100;
}
.project-header-iframe {
    font-weight: 200;
    
}
.project-iframe {
    border: none;
    width: 95vw;
    height: 95vh;
}
/* ----- End Projects Section ----- */

/* ----- Contact Section ----- */
.contact-header-main {
    font-family: "Oxygen", sans-serif;
}
input{
    border: none;
    width: 100%;
    margin-top: 20px;
    border-bottom: 2px solid;
    background-color: transparent;
}
input:focus, textarea:focus, button.btn:focus {
    outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #dedede inset !important;
}

.contact-checkbox-section {
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
    text-align: center;
}
.contact-checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
textarea {
    resize: none;
    width: 100%;
    height: 45vh;
    background-color: transparent;
    margin: 0;
    margin-top: 25px;
    border: 2px solid;
    border-radius: 10px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.contact-button-submit {
    width: 20%;
    height: auto;
    padding: 0;
    border: none;
    border-radius: 10px;
}
.error {
    font-family: "Oxygen", sans-serif;
    color: red;
    text-align: left;
    font-size: 15px;
}
/* ----- End Contact Section ----- */

/* ----- Modal ----- */
.modal-content {
    font-family: "Oxygen", sans-serif;
}