body, html {
    height: 100%;
}
body {
    overflow-x: hidden;
    background-color: #f9f9f9;
}
p {
    font-size: 20px;
}

/* ----- Nav ----- */
#navBar {
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    align-items: center;
    color: whitesmoke;
    font-family: "Oxygen", sans-serif;
}
.nav-link {
    color: whitesmoke;
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: gray;

}
p.nav-link.dropdown-toggle {
    margin: 0;
}
.dropdown-menu {
    padding: 0;
    margin: 0;
    transition: ease-in-out;
    transition-duration: 0.5s;
}
.login-nav-container {
    display: flex;
    align-items: center;
    margin: 0 25px 0 auto;
}
.login-nav-container .access {
    display: flex;
    border: none;
    border-radius: 10px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.login-nav-container p {
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
}
.login-nav-container p:hover {
    color: gray;
}
.login-nav-container {
    list-style-type: none;
}
.login-nav-container:hover {
    cursor: pointer;
}
.login-nav-container button {
    border: none;
    border-radius: 5px;
    width: auto;
    height: auto;
    background-color: transparent;
}
.navLight {
    background-color: rgba(0, 0, 0, 0.7);
}

/* ----- Hero ----- */

.hero-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 0;
}
.carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.5s;
}

/*  ----- Welcome ----- */

.welcome {
    display: flex;
    flex-direction: column;
    font-family: "Oxygen", sans-serif;
}
.welcome .header {
    align-self: center;
    text-align: center;
    padding: 5px;
    margin: 45px 0 15px 0;
    width: 65vw;
}
.welcome h2 {
    font-size: 60px;
}
.welcome hr {
    width: 50%;
    margin: auto;
}   

/* ----- Agenda ----- */

.agenda {
    display: flex;
    flex-direction: column;
    font-family: "Oxygen", sans-serif;
}
.agenda .header {
    text-align: center;
}

/* ----- Global card styles ----- */

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.client-card {
    width: 47vw;
    height: auto;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px auto 5px auto;
    justify-content: space-between;
}
.client-card-body {
    display: block;
    margin: 10px;
}
.client-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.client-names {
    margin: 0 10px 15px 10px;
}
.client-contact-info {
    padding: 0;
    margin: 0 10px 0 10px;
}
.client-contact-method {
    margin: 0 10px 0 10px;
}
p.card-text {
    width: auto;
    height: auto;
    font-size: 16px;
    margin: 0 10px 0 10px;
}
.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* media queries */
@media (max-width: 500px) {
    .client-info {
        flex-direction: column;
    }
}
@media (max-width: 800px) {
    .card-container {
        flex-direction: column;
    }
}
@media (max-width: 1160px) {
    .card-container {
        flex-direction: column;
    }
    .client-card {
        width: 80vw;
    }
}

/* ----- New Clients ----- */

.new-clients {
    display: flex;
    flex-direction: column;
    margin: 25px 0 25px 0;
    font-family: "Oxygen", sans-serif;
}
.new-clients .header {
    text-align: center;
}
.new-clients hr {
    width: 50%;
    margin: auto;
}
/* new client button classes */
.new-clients .btn-pass {
    background-color: #53ca24;
    margin: 5px;
}
.new-clients .btn-message {
    background-color: #24a7ca;
    margin: 5px;
}
.new-clients .btn-delete {
    background-color: #e74c3c;
    margin: 5px;
}
.new-clients button:hover {
    transition: ease-in-out;
    transition-duration: .2s;
    background-color: lightgrey;
    border-radius: 10px;
}

/* ----- Active Clients ----- */

.active-clients {
    display: flex;
    flex-direction: column;
    margin: 25px 0 25px 0;
    font-family: "Oxygen", sans-serif;
}
.active-clients .header {
    text-align: center;
}
.active-clients hr {
    width: 50%;
    margin: auto;
}
.active-clients .btn-pass {
    background-color: #53ca24;
    margin: 5px;
}
.active-clients .btn-message {
    background-color: #24a7ca;
    margin: 5px;
}
.active-clients .btn-notes {
    background-color: #ffb61a;
    margin: 5px;
}
.active-clients .btn-delete {
    background-color: #e74c3c;
    margin: 5px;
}
.active-clients button:hover {
    transition: ease-in-out;
    transition-duration: .2s;
    background-color: lightgrey;
    border-radius: 10px;
}